<% provide(:path, items_path) %>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
  <% if params[:group_by] == "all_items" %>
  <h2>All Items</h2>
  <% else params[:group_by] == "current_items" %>
  <h2>Current Items</h2>
  <% end %>
  <%= render 'shared/which_items' %>
</div>
<% if params[:group_by] == "all_items" %>
  <%= render partial: "items", locals: {items: @items} %>
<% else params[:group_by] == "current_items" %>
  <%= render partial: "items", locals: {items: @items.needed} %>
<% end %>