@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
/*
 *= require_tree .
 *= require_self
 */

$gray-medium-light: #eaeaea;
$state-danger-text: #d9534f;
 
body > .container {
  padding: 70px 15px 0;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

// .field_with_errors {
//   @extend .has-error;
//   .form-control {
//     color: $state-danger-text;
//   }
// }

.error-message {
  color: #d9534f;
}

.highlighted-true {
  background-color: #FFFB87;
}

.highlighted-false {
  background-color: none;
}

a {
  color: inherit;
}

a:hover {
  text-decoration-line: none;
}

.no-border {
  border: none;
}

@media (max-width: 536px) {
  .show-item-name {
    font-size: 1.5em;
  }

  .scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
}